.forecast{
  background-color: blue;
  color:white;
  float: left;
  margin: 10px;
  border: 2px solid #cccccc;
  padding: 5px;
}

.current{
  background-color: blue;
  width:400px;
  color:white;
}

.error{
  color:red;
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (orientation: portrait) {
	.forecast{
		clear: both;
	}
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (orientation: landscape) {
	.forecast{
		float: left;
	}
}
